*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
article{
    height: 100%;
    width: 70%;
    margin: 1rem;
}
.reloadBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myArticle{
    display: flex;
    justify-content: center;
}
footer .footerbar{
    display: flex;
    justify-content: space-between;
}
h1{
    text-align: center;
}
article img{
    height: 300px;
    width: 300px;
}